.App{
  position: relative;
}
.line{
  width: 100%;
  border-bottom:solid 0.2rem white;
}
.cryptoWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    min-width: 913px;
    gap: 20px;
}
.blockView{
  height: 100%;
  background: rgb(21 32 40);
  z-index: 1;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}